<h1> Your Tasks </h1>
# <ul>
#   <% @restaurants.each do |restaurant| %>
#     <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
#   <% end %>
# </ul>
<ul>
  <% @task.each do |task| %>
    <li><%= @task</li>
  <% end %>
</ul>
